:root {
    color-scheme: dark light;
}

html {
    font-size: 32px;
}

body {
    background-color: #504a4a;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-position-y: calc(100vh - 390px);
    background-position-x: calc(100vw + 130px);
    animation-name: ugh;
    animation-duration: 66.6s;
    animation-iteration-count: infinite;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}

main {
    width: 100%;
    font-size: 1rem;
    overflow-y: auto;
    flex-grow: 1;
    max-height: 66.6vh;
}

main ul#chat {
    list-style: none;
}

footer {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
@media (orientation: landscape) {
    footer {    
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

@keyframes ugh {
    0% {
        background-position-x: calc(100vw - 130px);
    }
    50% {
        background-position-x: calc(100vw - 920px);
    }
    100% {
        background-position-x: calc(100vw - 130px);
    }
}

input#q {
    outline: none;
    font-size: 1.666rem;
    max-width: 82%;
    display: block;
    flex-grow: 1;
    margin: auto;
}

button {
    border: 1px solid white;
    border-radius: 0.333rem;
    padding: 0.111rem 0.666rem;
    margin: 0.333rem auto;
    font-size: 0.666rem;
}

.sender-chat {
    font-weight: bold;
}

.sender-user {
    font-style: italic;
}

.sender-error {
    color: red;
}
